.liveOrder {
  width: 100%;
  max-width: 640px;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__number {
      text-align: center;
  }

  &__list {
    padding-right: 10px;
    overflow: auto;
    max-height: 360px;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    margin-right: auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    font-size: 16px;
    color: #8585AD;
  }
}