@use "./src/styles/variables";

.menuItem {
  display: flex;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
  color: variables.$text;

  text-decoration: none;

  &__isActive {
    .menuItem__text {
      color: #F2F2F3;
    }
  }

  &__text {
    color: #8585ad;
  }
}