@use "./src/styles/variables";

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabs {
  display: flex;
  align-items: center;
}

.list {
  overflow: auto;
  max-height: calc(100vh - 337px);
}
